body {
    height: 1000px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
.forcast-box {
    border: 2px solid green;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.tide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}
.tide-widget {
    margin-bottom: 10px;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 5%;
}

iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}
